/* Hide default CSS */
div.inline-attachment dl.file {
	display: none;
}

dl.file{
	display: none;
}

/* Redefine the default ATTACHMENTS box 
 for attachments not placed in-line */
.attachbox {
	background-color: transparent;
	border: transparent;
	border-radius: transparent;
	margin: 5px;
	padding: 20px 20px 20px;
	text-align: center;
}
